<div class="home-container grid grid-cols-2 mr-32">
  <div class="left-container p-16">
    <div class="home-header text-5xl text-gray-900">
      Aktuelles
    </div>
    <div class="home-image w-[36rem] h-96 bg-gray-200 mt-8">
      <!-- This is a placeholder for an image -->
    </div>
  </div>
  <div class="right-container sm:max-w-md md:max-w-2x lg:max-w-5xl">
    <div class="event-wrapper overflow-y-scroll max-h-[44rem]">
      <div class="event-item mt-8" *ngFor="let item of [1, 2, 3, 4, 5]">
        <div class="event-header text-xl font-bold uppercase">
          CARPE DIEM
        </div>
        <div class="event-description mt-4">
          Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores
        </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>





